{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:react/recommended"
  ],
  "rules": {
    "dot-notation": "off",
    "react/jsx-handler-names": "off"
  }
}
